
*,
*::after
*::before {
    padding: 10px;
    margin: 0;
}
body{
    background-color: rgb(0,0,0);
    display: block;
    font-family: 'Roboto', sans-serif;
}
.input-box{
    font-family: 'Roboto', sans-serif;
    width: 144px;
    font-size: large;
    text-align: right;
    background-color: rgb(0,0,0);
    border-style: none;
    color: rgb(255, 255, 255);
    transition: none;
}
.input-box:focus {
    outline: none !important;
    border:0px;
}
button{
    font-family: 'Roboto', sans-serif;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: none; 
    color: rgb(255, 255, 255);
    margin: 2px;
}
.digit-number{
    background-color: rgb(92, 92, 92);
    color: rgb(255, 255, 255);
    transition: background-color 1s;
}
.digit-number.clicked{ 
    animation: colorAnimation 1.5s alternate ; 
}
@keyframes colorAnimation {
    from {
        background-color: rgb(182, 182, 182);
    }
    to {
        background-color: rgb(92, 92, 92);
    }
    /* from {background-color: lightgray;
    }
    to{background-color:  rgb(92, 92, 92);
    } */
    
}
.digit-operator{
    background-color: rgb(255,159,11) ;
    color: rgb(255,255,255);
    transition-property: color;
    transition-property: background-color;
    transition-duration:  1.5s;

}
.digit-function{
    background-color: rgb(165,165,165) ;
    color: rgb(0,0,0);
}
#resultbtn{    
    background-color: rgb(255,159,11) ;
    color: rgb(255,255,255);
}
#zero{
    border-radius: 25% / 50%;
    background-color: rgb(92, 92, 92);
    color: rgb(255, 255, 255);
    width: 68px;
    height: 30px;  
    text-align: left;
    padding-left:5px;
}
/* 1.подключить шрифты 
  DONE!2. выровнять по вертикали
  DONE!3. сдедать инпут невидимым
  DONE!4. подкинуть символ +/- и деления  
  DONE!5. 0 должен быть слева
  6. добавить планую анимацию клика по кнопке с постепенным переходом от светлого к темному
  7. при нажатии на оператор он должен поменять цвета инверсно и быть зажат
  DONE!8. заменить умножение!
  9.
  */
  

